{% extends 'base.html.twig' %}

{% block body %}
    <h1>Day</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ day.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ day.day }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('day_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('day_edit', { 'id': day.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
