{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cooks list</h1>

    <a href="{{ path('cook_new') }}">Create a new cook</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Plan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cook in cooks %}
            <tr>
                <td><a href="{{ path('cook_show', { 'id': cook.id }) }}">{{ cook.id }}</a></td>
                <td>{{ cook.name }}</td>
                <td>
                    {% for category in cook.category %}
                        {{ category.name }}
                    {% endfor %}
                </td>
                <td>{{ cook.plan.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cook_show', { 'id': cook.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cook_edit', { 'id': cook.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
